{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S-WIN CONSULTING</title>
    <link rel="stylesheet" href="{% static 'swinapp/styles.css' %}">
    <script src="{% static 'swinapp/scripts.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <nav>
            <h2 class="logo">SWIN <span>CONSULTING.</span></h2>
            <ul>
                <li><a href="#">Home1</a></li>
                <li><a href="#">Home2</a></li>
                <li><a href="#">Home3</a></li>
                <li><a href="#">Home4</a></li>
            </ul>
            <div class="buttons">
                <a href="#" class="button1">Button 1</a>
                <a href="#" class="button2">Button 2</a>
            </div>
        </nav>
        <div class="content">
            <h3>Hello, <br>Welcome.</h3>
            <p>Description.</p>
        </div>
        <div class="link">
            <a href="#" class="hire">LINK</a>
        </div>
    </div>
</body>
</html>

