*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    color: #ffffff;
}

.img-logo{
    width: 200px;
    padding-top: 10px;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #E8E8E8;
    padding-top: 35px;
    padding-left: 8%; 
    padding-right: 8%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    font-size: 40px;
}

.logo span{
    color: #FF8F00;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.4s;
}

nav ul li a:hover{
    color: #FF8F00;
}

.link1{
    color: #ffffff;
    font-size: 18px;
    margin-right: 15px;
    text-decoration: none;
}

.link1:hover{
    color: #FF8F00;
}

.button2{
    color: #999999;
    background: #ffffff;
    padding: 9px 25px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.4s;
    text-decoration: none;
}

.button2:hover{
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
}

.content{
    margin-top: 12%;
    max-width: 600px;
}

.content h3{
    font-size: 55px;
}

.content p{
    margin-top: 10px;
    line-height: 25px;
}

.description{
    color: #6E6E6E;
}

.link2{
    margin-top: 30px;
}

.link2 .see{
    color: #FF8F00;
    background: #ffffff;
    text-decoration: none;
    padding: 9px 25px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.4s;
}

.link2 .see:hover{
    color: #FF8F00;
    background: transparent;
    border: 1px solid #FF8F00;
}