*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    color: #ffffff;
}

.logo-img{
    width: 5%;
    padding-left: 3px;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #E8E8E8;
    padding-top: 35px;
    padding-left: 8%; 
    padding-right: 8%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo{
    font-size: 40px;
}

.logo span{
    color: #FF8F00;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.4s;
}

nav ul li a:hover{
    color: #FF8F00;
}

.link1{
    color: #ffffff;
    font-size: 18px;
    margin-right: 15px;
    text-decoration: none;
}

.link1:hover{
    color: #FF8F00;
}

.button2{
    color: #999999;
    background: #ffffff;
    padding: 9px 25px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.4s;
    text-decoration: none;
}

.button2:hover{
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
}

.content{
    margin-top: 12%;
    max-width: 600px;
}

.content h3{
    font-size: 55px;
}

.content p{
    margin-top: 10px;
    line-height: 25px;
}

.description{
    color: #6E6E6E;
}

.link2{
    margin-top: 30px;
}

.link2 .see{
    color: #FF8F00;
    background: #ffffff;
    text-decoration: none;
    padding: 9px 25px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.4s;
}

.link2 .see:hover{
    color: #FF8F00;
    background: transparent;
    border: 1px solid #FF8F00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body {
    height: 100vh;
    background-color: #6E6E6E;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  }
  
  .social-links {
    display: flex;
  }
  
  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: white;
    margin: 5px;
    transition: 1s;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 1s;
    text-align: center;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: max-content;
  }
  
  #twitter svg {
    fill: #1da1f2;
  }
  
  #linkedin svg {
    fill: #0e76a8;
  }
  
  #github {
    fill: #333;
  }

footer {
    position: fixed;
    padding-left: 1100px;
    bottom: -5px;
    width: 100%;
}
  