.contentVisual {
    color: #6E6E6E;
    margin-top: 30px;
    line-height: 25px;
}

.arrow {
    border: solid #6E6E6E;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

nav ul li a1{
    color: #FF8F00;
    text-decoration: none;
    transition: 0.4s;
}

.square {
    margin-top: 10px;
    line-height: 25px;
    height: 500px;
    width: 1210px;
    background-color: #ffffff;
    padding: 30px 25px;
    border-radius: 6px;
}

#chart {
    max-width: 100%;
    margin: 20px auto;
}