body {
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
	background-color: #fde6cc; /* Light orange color */
	color: #282828;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

header {
	background-color: #ffa366; /* Darker orange color */
	padding: 20px;
}

header nav {
	float: right;
}

header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header li {
	float: left;
	margin-right: 20px;
}

header a {
	color: #fff;
	text-decoration: none;
}

header h1, h2 {
	margin: 0;
}

footer {
	background-color: #ffa366; /* Darker orange color */
	padding: 20px;
	color: #fff;
	text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffa366; /* Set background color to the same color as header */
    padding: 20px;
    color: #fff; /* Set text color to white */
  }
  

.statistik {
	background-color: #fde6cc; /* Light orange color */
	padding: 20px;
}

.statistik h2 {
	margin-top: 0;
}

.kontakt {
	background-color: #fde6cc; /* Light orange color */
	padding: 20px;
}

.kontakt h2 {
	margin-top: 0;
}

.kontakt p {
	margin-bottom: 20px;
}

.om-oss {
	background-color: #fde6cc; /* Light orange color */
	padding: 20px;
}

.om-oss h2 {
	margin-top: 0;
}


.image img {
	display: flex;
    justify-content: center;
    align-items: center;
	margin: auto;
	max-width: 100%;
	height: auto;
}