{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S-WIN CONSULTING</title>
    <link rel="stylesheet" href="{% static 'swinapp/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'swinapp/css/styles.css' %}">
    <script src="{% static 'swinapp/js/script.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <nav>
            <h2 class="logo">S-WIN <span>CONSULTING.</span></h2>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="visual">Data Visualization</a></li>
                <li><a1 href="about">About Us</a1></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <div class="buttons">
                <a href="#" class="link1">Log In</a>
                <a href="#" class="button2">Register</a>
            </div>
        </nav>
        <div class="contentAbout">
            <h2>About Us.</h2>
        </div>
        <div class="square">
            <div class="description">
            <p>S-wins amibition och syfte är att skapa en analysplattform för universitet och högskolor som använder JobTech-datasetet för att identifiera de mest efterfrågade färdigheterna och kompetenserna inom olika branscher och sektorer. Denna information kan användas för att utveckla relevanta utbildningsprogram och säkerställa att studenterna är väl förberedda för arbetsmarknaden efter examen.
            </div>
        </div>
    </div>
</body>
</html>

