{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S-WIN CONSULTING</title>
    <link rel="stylesheet" href="{% static 'swinapp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'swinapp/css/about.css' %}">
    <script src="{% static 'swinapp/js/script.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <nav>
            <h2 class="logo">S-WIN <span>CONSULTING.</span></h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Data Visualization</a></li>
                <li><a1 href="#">About Us</a1></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="buttons">
                <a href="#" class="link1">Log In</a>
                <a href="#" class="button2">Register</a>
            </div>
        </nav>
        <div class="contentAbout">
            <h2>About Us.</h2>
        </div>
        <div class="description">
        <p>This is the About Us page.</p>
        </div>
        <div class="square">
            <div class="row">
                <div class="column">
                  <div class="card">
                    <h3>1 billion+</h3>
                    <p>Partners</p>
                  </div>
                </div>
              
                <div class="column">
                  <div class="card">
                    <h3>55+</h3>
                    <p>Projects</p>
                  </div>
                </div>
              
                <div class="column">
                  <div class="card">
                    <h3>100+</h3>
                    <p>Happy Clients</p>
                  </div>
                </div>
              
                <div class="column">
                  <div class="card">
                    <h3>100+</h3>
                    <p>Meetings</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>
</html>

