{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S-WIN CONSULTING</title>
    <link rel="stylesheet" href="{% static 'swinapp/css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'swinapp/css/styles.css' %}">
    <script src="{% static 'swinapp/js/script.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <nav>
            <h2 class="logo">S-WIN <span>CONSULTING.</span></h2>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="visual">Data Visualization</a></li>
                <li><a href="about">About Us</a></li>
                <li><a1 href="contact">Contact</a1></li>
            </ul>
            <div class="buttons">
                <a href="#" class="link1">Log In</a>
                <a href="#" class="button2">Register</a>
            </div>
        </nav>
        <div class="square">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24452.61181693146!2d11.912320007116852!3d57.70676873264633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff35aa1bf62a7%3A0xdb5047d4dcfb99b1!2sLindholmen%20Science%20Park!5e0!3m2!1ssv!2sse!4v1683226528501!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <div class="text">
                <h2>HEJ.</h2>
                <p>Har du frågor till oss på S-WIN Consulting?<br>
                <h2><br>KONTAKTA OSS.</h2>
                Mail: service@s-win.com<br>
                Telefon: 070-0101010
                <br>
                <br>
                <h2>BESÖK OSS.</h2>
                Lindholmspiren 5, 402 78 Göteborg
                </p>
            </div>
        </div>
    </div>
</body>
</html>

