{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S-WIN CONSULTING</title>
    <link rel="stylesheet" href="{% static 'swinapp/css/styles.css' %}">
    <script src="{% static 'swinapp/js/script.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <nav>
            <h2 class="logo">S-WIN <span>CONSULTING.</span></h2>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="visual">Data Visualization</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <div class="buttons">
                <a href="#" class="link1">Log In</a>
                <a href="#" class="button2">Register</a>
            </div>
        </nav>
        <div class="content">
            <h3>Hello, <br>Welcome.</h3>
        </div>
        <div class="link2">
            <a href="#" class="see">See visualization</a>
        </div>
    </div>
</body>
</html>