{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S-WIN CONSULTING</title>
    <link rel="stylesheet" href="{% static 'swinapp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'swinapp/css/visual.css' %}">
    <link rel="stylesheet" href="{% static 'swinapp/css/toplist.css' %}">
    <script src="{% static 'swinapp/js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <nav>
            <img src="{% static 'swinapp/img/logo.png'%}" alt="S-win logo" class="logo-img">
            <h2 class="logo">S-WIN <span>CONSULTING.</span></h2>
            <ul>
                <li><a href="/swinapp/">Home</a></li>
                <li><a href="/swinapp/visual">Data Visualization</a></li> <!-- Adjusted "a1" to "a" tag -->
                <li><a href="/swinapp/contact">About Us</a></li>
            </ul>
            <div class="buttons">
                <a href="#" class="link1">Log In</a>
                <a href="#" class="button3">Register</a>
            </div>
        </nav>
        <div class="competencies-container">
            <button id="button1">Programming Languages Demand</button>
            <button id="button2">Softskills Demand</button>
            <div class="flex-container">
                <canvas id="myChart"></canvas>
                <!-- Adjusted "gradient-list" to be a div with the id "gradient-parent" -->
                <div id="gradient-parent" style="margin-left: 100px;"></div>
            </div>
        </div>
    </div>
    <footer>
        <nav>
          <ul>
            <li>
            <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap" rel="stylesheet">
            <div class='social-links'>
                <div class='social-btn flex-center' id="twitter">
                <!-- SVG icons -->
                <span>@S-win</span>
                </div>
            
                <div class='social-btn flex-center' id="linkedin">
                <!-- SVG icons -->
                <span>S-win</span>
                </div>

                <div class='social-btn flex-center' id="github">
                <!-- SVG icons -->
                <span>S-win</span>
                </div>
            </li>
          </ul>
        </nav>
      </footer>
      <script src="{% static 'swinapp/js/circleChart.js' %}"></script>
</body>
</html>
