{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S-WIN CONSULTING</title>
    <link rel="stylesheet" href="{% static 'swinapp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'swinapp/css/visual.css' %}">
    <script src="{% static 'swinapp/js/script.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <nav>
            <img src="{% static 'swinapp/img/logo.png'%}" alt="S-win logo" class="logo-img">
            <h2 class="logo">S-WIN <span>CONSULTING.</span></h2>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a1 href="visual">Data Visualization</a1></li>
                <li><a href="about">About Us</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <div class="buttons">
                <a href="#" class="link1">Log In</a>
                <a href="#" class="button2">Register</a>
            </div>
        </nav>
        <div class="contentVisual">
            <h2>Data Visualization.</h2>
        </div>
        <div class="description">
        <p>This is the Data Visualization page. <i class="arrow down"></i></p>
        </div>
        <div class="square"></div>
    </div>
</body>
</html>